---
import MainLayout from '../../layouts/main.astro';
import AdminLoginWrapper from '../../components/admin/AdminLoginWrapper';
import { Toaster } from '../../components/ui/sonner';
---

<MainLayout pageClass="">
  <main class="min-h-screen">
    <AdminLoginWrapper client:only="react" />
    <Toaster client:only="react" />
  </main>
</MainLayout>
